.menuebutton {
    width: 110px;
    height: 110px;
    background-color: rgb(78, 78, 83);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer; // Ändert den Cursor beim Hover
    transition: all 0.2s ease-in-out; // Für sanfte Übergänge

    // Hover- und Active-Effekte
    &:hover {
        background-color: rgb(90, 90, 95);
        transform: scale(1.05);
    }

    // Active-Effekt beim Klicken
    &:active {
        background-color: rgb(70, 70, 75);
        transform: scale(0.98);
    }
}

.button-image {
    width: 48px;
    height: 48px;
    filter: invert(1);
}

.button-text {
    text-align: center;
}