<div class="settings-container">
  <div class="group-box">
    <h3 class="group-box-title mat-headline-small">Live session</h3>
    <p class="mat-body-medium">Activate the parameters you want to monitor during the Astro Session in the OnView area and set the default limits for the graphs.</p>
    <div class="group-box-content">
      <app-settings-item></app-settings-item>
      <app-settings-item></app-settings-item>
      <app-settings-item></app-settings-item>
      <app-settings-item></app-settings-item>
      <app-settings-item></app-settings-item>
      <app-settings-item></app-settings-item>
    </div>
  </div>
</div>
