<div class="chart-container">
  <h2>{{ title }}</h2>
  <ngx-charts-line-chart
    [results]="chartData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [yScaleMin]="lowerLimit"
    [yScaleMax]="upperLimit"
    [timeline]="timeline"
    [showGridLines]="showGridLines"
    [referenceLines]="referenceLines"
    [showRefLines]="showRefLines"
    [showRefLabels]="showRefLabels"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
  </ngx-charts-line-chart>
</div>