.settings-container {
    width: fit-content;
    
    align-items: flex-start;
    padding: 16px;
    background-color: transparent;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;

    overflow: hidden;
    

    .group-box {
        width: fit-content;
        margin-left: 0 !important;
        margin-right: 0 !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .group-box-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 16px;
            overflow-x: hidden;
            overflow-y: auto;
            padding-bottom: 8px;
            flex: 1;
            align-content: flex-start;
        }
    }
}