
.overview {
    display: flex;
    flex-direction: row;
    height: 97vh;
    gap: 8px;
}

app-menuebar {
    flex-shrink: 0;
    height: 100%;
    display: block; /* wichtig, damit width/height funktionieren */
}

app-contentview {
    flex: 1;
    height: 100%;
    display: block;
}