.contentview {
    width: 100%;
    height: 100%;
    background-color: var(--mat-sys-surface-container-low);
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    border-radius: 8px;
    box-sizing: border-box;
}

router-outlet {
    display: none;
}

router-outlet + * {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
}  