.contentview {
    width: 100%;
    min-height: 100%;
    background-color: rgb(37, 37, 39);
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px; 
}  