.settings-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.header-row {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: -11px;
}

.hfr-label {
    color: var(--mat-sys-on-surface);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    display: flex;
    align-items: center;
}

// Wiederverwendbare UI-Komponenten
.group-box-settings {
    height: 170px;
    width: 190px;
    border: 1px solid var(--mat-sys-outline);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: auto;
    background-color: var(--mat-sys-surface-container-low);
}

.settings-checkbox {
    // Material Checkbox übernimmt das Styling
    ::ng-deep .mdc-checkbox {
        padding: 0;
        margin: 0;
    }
    
    ::ng-deep .mdc-checkbox__background {
        top: 0;
    }
    
    // Checkbox vertikal ausrichten
    display: flex;
    align-items: center;
    margin-top: -2px;
}

.limits-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

.limit-field {
    width: 100%;
    
    // Material Form Field Anpassungen für kompakte Darstellung
    ::ng-deep .mat-mdc-form-field-infix {
        min-height: 20px;
    }
    
    ::ng-deep .mat-mdc-text-field-wrapper {
        padding-bottom: 0;
        margin-bottom: -16px;
    }

    .mat-form-field{
        height: 20px;
    }

    
}