<div class="group-box-settings">
    <div class="settings-item">
        <div class="header-row">
            <div class="checkbox-container">
                <input type="checkbox" id="enable-limits" class="settings-checkbox" />
            </div>
            <p class="hfr-label">HFR</p>
        </div>
        
        <div class="limits-container">
            <div class="limit-row">
                <label for="upper-limit" class="limit-label">Upper Limit</label>
                <input type="text" id="upper-limit" class="limit-input" />
            </div>

            <div class="limit-row">
                <label for="lower-limit" class="limit-label">Lower Limit</label>
                <input type="text" id="lower-limit" class="limit-input" />
            </div>
        </div>
    </div>
</div>