<div class="group-box-settings">
    <div class="settings-item">
        <div class="header-row">
            <mat-checkbox class="settings-checkbox"></mat-checkbox>
            <p class="hfr-label">HFR</p>
        </div>
        
        <div class="limits-container">
            <mat-form-field appearance="outline" class="limit-field">
                <mat-label>Upper Limit</mat-label>
                <input matInput type="number" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="limit-field">
                <mat-label>Lower Limit</mat-label>
                <input matInput type="number" />
            </mat-form-field>
        </div>
    </div>
</div>