.menuebar {
    width: fit-content;
    height: 100%;
    background-color: var(--mat-sys-surface-container-low);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    flex-direction: column;
    gap: 10px;
    box-shadow: var(--mat-sys-level1);

    app-menuebutton-component:last-child {
        margin-top: auto;
    }
}