<div class="menuebar">
    <app-menuebutton-component text="One View" [img]="'assets/images/rocket-lunch.svg'" (clicked)="navigateToOneView()"></app-menuebutton-component>
    <app-menuebutton-component text="Historical data" [img]="'assets/images/calendar-clock.svg'" (clicked)="navigateToHistoricalData()"></app-menuebutton-component>
    <app-menuebutton-component text="Settings" [img]="'assets/images/settings.svg'" (clicked)="navigateToSettings()"></app-menuebutton-component>
    <app-menuebutton-component text="Exit" [img]="'assets/images/sign-out-alt.svg'" (clicked)="exitApp()"></app-menuebutton-component>
</div>
