.menuebar {
    width: 100%;
    min-height: 100%;
    background-color: rgb(61, 61, 65);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
}