.menuebar {
    width: fit-content;
    min-width: 156px; // Button width (110px) + padding (8px * 2)
    min-height: 100%;
    background-color: var(--mat-sys-surface-container-low);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    flex-direction: column;
    gap: 10px;
    box-shadow: var(--mat-sys-level1);

    app-menuebutton:last-child {
        margin-top: auto;
    }
}